{% load static %}


<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="imagetoolbar" content="no">
		<meta name="msthemecompatible" content="no">
		<meta name="cleartype" content="on">
		<meta name="HandheldFriendly" content="True">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<title>{% block full_title %}{% block title %}{% endblock %}{% endblock full_title %}</title>

		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
		<link rel="canonical" href="{{ request.path }}">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="{% static 'styles/animate.css' %}">
		<link rel="stylesheet" href="{% static 'styles/icomoon.css' %}">
		<link rel="stylesheet" href="{% static 'styles/simple-line-icons.css' %}">
		<link rel="stylesheet" href="{% static 'styles/bootstrap-datetimepicker.min.css' %}">
		<link rel="stylesheet" href="{% static 'styles/flexslider.css' %}">
		<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'styles/style.css' %}">
		<script src="{% static 'scripts/modernizr-2.6.2.min.js' %}"></script>

		{% block head %}{% endblock head %}

		{{ preference.header_html|safe }}
	</head>
<body>

	{% block content %}{% endblock content %}

	<script src="{% static 'scripts/jquery.min.js' %}"></script>
	<script src="{% static 'scripts/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
	<script src="{% static 'scripts/moment.js' %}"></script>
	<script src="{% static 'scripts/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{% static 'scripts/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'scripts/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'scripts/jquery.flexslider-min.js' %}"></script>
	<script>
		$(function () {
			$('#date').datetimepicker();
		});
	</script>
	<!-- Main JS -->
	<script src="{% static 'scripts/main.js' %}"></script>
	{% block footer_js %}{% endblock footer_js %}

	{{ preference.footer_html|safe }}

</body>
</html>
